<div id="<%= dom_id coach_par_time %>">
  <p>
    <strong>From:</strong>
    <%= coach_par_time.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= coach_par_time.to %>
  </p>

  <p>
    <strong>Booked slot:</strong>
    <%= coach_par_time.booked_slot %>
  </p>

  <p>
    <strong>Sno:</strong>
    <%= coach_par_time.sno %>
  </p>

  <p>
    <strong>Coach par avail:</strong>
    <%= coach_par_time.coach_par_avail_id %>
  </p>

  <p>
    <strong>Dates:</strong>
    <%= coach_par_time.dates %>
  </p>

</div>
